---
layout: layouts/content-page.njk
permalink: membership.html
title: Membership
section: Club
lede: Join the Fremont Sailing Club or renew your annual membership with a simple printable form or online form.
---
<h2>Join the Club / Renew Your Membership</h2>
<p>
  It is easy to join or renew your membership.
</p>

<div class="doc-actions">
  <a class="button" href="https://drive.google.com/file/d/1HcfCvziRK1tTYoj50qfVByeYCKoiICoG/view?usp=drive_link" target="_blank" rel="noreferrer">Printable form</a>
  <a class="button button--secondary" href="https://docs.google.com/forms/d/e/1FAIpQLSeUqzRQFeQzRX_h1p9FuIiVGSwhV_spE0YSiVWUWCSu_EXXaQ/viewform?usp=sharing&ouid=109065571082282523108" target="_blank" rel="noreferrer">Online form</a>
</div>

<p>
  To join or renew your membership, please send your annual membership dues in the amount of $50 to:
</p>

<address>
  <strong>Fremont Sailing Club</strong><br />
  c/o Jill Christman, Treasurer<br />
  38590 Canyon Heights Dr<br />
  Fremont, CA 94536
</address>

<div class="notice-card">
  <h2>About the old contact form</h2>
  <p>
    The previous Weebly contact form is intentionally not carried into this static version of the site. For now, please use the online membership form above.
  </p>
</div>
